{% extends 'catalog/catalog.html' %}
{% block title %}
    {{ category.name }}
{% endblock %}
{% block catalog %}
<body style="background-image: url(https://images.unsplash.com/photo-1516910817563-4df1c1b69058?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); background-size: cover;">
    {% if products_list %}
<section class="jumbotron text-center" style="background-color: rgba(211,211,211, 0.8)">
        <div class="container">
          <h1 class="jumbotron-heading">{{ category.name }}</h1>
          <p class="lead text-muted">Все разделы готовы предложить вам товары, соответствующие современным реялиям и удовлетворить ваши потребности </p>
        </div>
      </section>
<div class="album py-5" style="background-color: rgba(255,255,255, 0.8)">
        <div class="container">
          <div class="row">
              {% for product in page_obj %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div style="display:table-cell; vertical-align:middle; text-align:center"><a href="{{ product.get_absolute_url}}"><img src="{{ product.image.url }}" height="170" width="150" alt="{{ product.slug }}"></a></div>
                  <div class="card-body">
                    <h2>{{ product.title }}</h2>
                      <div class="d-flex justify-content-between align-items-center">
                        <small style="font-size:11pt;" class="text-muted">Цена: {{product.price}}</small>
                          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; В начало</a>
                    <a href="?page={{ page_obj.previous_page_number }}">назад</a>
                {% endif %}
                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">след.</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">пред. &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <div class="alert alert-dark" role="alert">
            Тут пока ничего нет!
        </div>
    {% endif %}
</body>
{% endblock %}