{% extends 'catalog/catalog.html' %}
{% block title %}
    {{ category.name }}
{% endblock %}
{% block catalog %}
    {% if products_list %}
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{ category.name }}</h1>
          <p class="lead text-muted">Все разделы готовы предложить вам наши лучшие товары</p>
        </div>
      </section>
<!--<div class="album py-5 bg-light">
    <div class="container" style="display:flex; justify-content: flex-end;">
        <div class="col-md-10" style="display:flex;">
        {% for product in page_obj %}
            <div class="card mb-4 box-shadow">
                <div style="display:table-cell; vertical-align:middle; text-align:center">
                    <a href="{{ product.get_absolute_url}}">
                        <img src="{{ product.image.url }}" width="120" alt="{{ product.slug }}">
                    </a>
                </div>
                <div class="card-body">
                    <h2>{{ product.title }}</h2>
                  <div class="d-flex justify-content-between align-items-center">

                              <p>Цена: {{product.price}}</p>
                  </div>
                </div>
                            {% include 'add_to_cart.html' %}
              </div>
            <div class="col-1"></div>
    {% endfor %}

            </div>
            </div>
    </div>
    -->
<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
              {% for product in page_obj %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div style="display:table-cell; vertical-align:middle; text-align:center"><a href="{{ product.get_absolute_url}}"><img src="{{ product.image.url }}" height="180" width="150" alt="{{ product.slug }}"></a></div>
                  <div class="card-body">
                    <h2>{{ product.title }}</h2>
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Цена: {{product.price}}</small>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; В начало</a>
                    <a href="?page={{ page_obj.previous_page_number }}">назад</a>
                {% endif %}
                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">след.</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">пред. &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <div class="alert alert-dark" role="alert">
            Тут пока ничего нет!
        </div>
    {% endif %}
{% endblock %}